*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:hsl(230, 17%, 14%);
    color:white;
    width:100%;
    height:100%;
    transition: .5s ease;
}

.header-title{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}
.header {
    margin-left: 20px;
    margin-right: auto;
}

.Header-light{
    color:black;
}

.toggle{
    background-color:white;
    width:45px;
    height:20px;
    border-radius:10px;
    padding:0.4rem;
    display:flex;
    align-items: center;
    margin:0px 10px;
}

.toggle_btn{
    background-color: hsl(230, 17%, 14%);
    height:15px;
    width:50%;
    border-radius:50%;
    transition: all 0.4s;
}

.toggle.active{
    background-color: hsl(192, 82%, 41%);
}

.night-mode{
    transform:translateX(100%);
}

 .toggle-button {
    display:inline-block;
    margin-right: 50px;
    height: 50px;
    display: flex;
} 

.night{
    background-color:hsl(0, 0%, 100%) ;
    color:black;
}

.night .followers-info h2{
    color:black;
}

.night .grid-box{
    background-color: hsl(227, 47%, 96%); 
}

.night .toggle-button h3{
    color:hsl(230, 22%, 74%);
}

.night .toggle{
    background-color: hsl(230, 22%, 74%);
}

.night .toggle_btn{
    background-color: white;
}

.night .social-media-address p{
    color:hsl(230, 6%, 36%);
}

.night .followers-info h4{
    color:hsl(230, 6%, 36%);
}

.night .header p{
    color:hsl(230, 6%, 36%);
}

.night .overview{
    color:hsl(230, 6%, 36%);
}

.night .overview-grid-box{
    background-color: hsl(227, 47%, 96%);
}

.night .overview-social-media-address{
    color:hsl(230, 6%, 36%);
}



/* .switch{
    position:relative;
    display: inline-block;
    width:45px;
    height:20px;
    margin:0 10px;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: hsl(230, 22%, 74%);
    transition: .4s;
    border-radius: 34px;
}

.switch input {display:none}

.slider:before{
    position:absolute;
    content:"";
    height:10px;
    width:15px;
    left:5px;
    bottom:5px;
    background-color: hsl(230, 17%, 14%);
    transition: 0.4s;
    border-radius:5px;
}

input:checked + .slider{
    background-color:hsl(210, 78%, 56%);
}

input:checked + .slider:before{
    transform: translateX(20px);
} */

.followers{
    font-size:small;
    font-family: 'Poppins', sans-serif;
    color:rgb(164, 161, 167);
}

.followers-grid-row{
    display: flex;
    justify-content: flex-start;
    height: auto;
    width:100%;
    max-width: 1000px;
    margin: 50px auto;
    
}

.social-media-address{
    display: flex;
    flex-direction: row;
    color:rgb(164, 161, 167);
    font-size: small;
    justify-content: center;
    margin-top:25px;
}

.grid-box{
    width: 25%;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    margin-right: 20px;
    
}

.followers-info > h2{
    margin: auto;
    font-size:50px;
    text-align: center;
    margin-top: 10px;
}

.followers-info > h4{
    margin: auto;
    font-size:11px;
    text-align: center;
    font-weight: 40;
    color:rgb(164, 161, 167);
    letter-spacing: 3px;
}

.icon{
    height:4px;
    margin-bottom:2px;
}


.engagement{
    margin-top: 30px;
    justify-content: center;
    display:flex;
}

.engagement > h6{
    font-size:11px;
    font-weight: 40;
    color:hsl(163, 72%, 41%);
}

.engagement > h5{
    font-size:11px;
    text-align: center;
    font-weight: 40;
    color: hsl(356, 69%, 56%);
}


.overview{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:20px;
    /* margin:50px 150px; */
}

.overview-grid-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:auto;
    max-width: 1000px;
    margin: 10px auto;
    
    /* margin:50px 150px; */
}

.overview-grid-box{
    width:20%;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    justify-content: flex-start;
    margin:20px;
    align-items: center;
    margin-left:27px;
}

.overview-social-media-address{
    display: flex;
    flex-direction: row;
    color:rgb(164, 161, 167);
    font-size: small;
    justify-content: center;
    margin-top:15px;
    justify-content: space-between;
    padding:0px 10px;
}

.overview-count{
    margin-top:7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}

.overview-count > h3{
    font-size:30px;
}

.overview-count > p{
    font-size:11px;
    margin-top:15px;
    color:hsl(163, 72%, 41%);
}

.overview-count > h5{
    font-size:11px;
    margin-top:15px;
    color:hsl(356, 69%, 56%);
}

@media only screen and (max-width: 400px) {
    .header-title{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin:10px auto;
        max-width: 100%;
    }

    .header h2{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .toggle{
        padding:0.4rem;
        display:flex;
        margin:0px 10px;
        float:right;
    }
    
    .toggle_btn{
        height:18px;
        width:50%;
        border-radius:50%;
    }

     .toggle-button {
        display:flex;
        margin-left: 10px;
        height: 50px;
        justify-content: space-between;
        margin-top:30px;
    }
    
   .followers-grid-row{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    width:100%;
    max-width: 100%;
    margin: 50px auto;
}
.grid-box{
    width: 100%;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
} 

.overview-grid-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:auto;
    max-width: 100%;
    margin: 5px auto;
    
    /* margin:50px 150px; */
}

.overview-grid-box{
    width:100%;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    justify-content: flex-start;
    margin:10px;
    align-items: center;
}

.overview{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:10px;
    /* margin:50px 150px; */
}

/* .toggle-button{
    display:flex;
    justify-content: space-between;
    margin:45px;
    margin-left: 10px;
} */


    
}